<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCy5jMzA_BTwXbQba3b4Oh7vMJOcZA05R0</string>
	<key>GCM_SENDER_ID</key>
	<string>811445642535</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bolluApp</string>
	<key>PROJECT_ID</key>
	<string>bolu-ee1da</string>
	<key>STORAGE_BUCKET</key>
	<string>bolu-ee1da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:811445642535:ios:31c84ae3d14381a8baf502</string>
</dict>
</plist>